@import 'tailwindcss';


body {
  @apply font-sans antialiased;
}

/* Estilos adicionales si los necesitas */
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-green-50 {
  --tw-gradient-from: #ecfccb;
  --tw-gradient-to: rgb(236 252 203 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-white {
  --tw-gradient-to: #ffffff;
}
